<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/logo.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:012341234567">01-234-1234-567</a>
        </div>
      <br>
      <div class="email">
        <a href="http//:www.qapfy.com">www.qapfy.com</a>
      </div>
      <br>
      <div class="address">
        Qapfy
        <br>
        Sanu Palace, Manglore-575003
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/shipping">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>
      </ul>
    </div>
    
    

    <div class="four coloums">
      <h5>Social</h5>
      <ul>
          
        <li class="facebook"><a href="http://www.facebook.com" rel="nofollow">Facebook</a></li>
        <li class="twitter"><a href="http://www.twitter.com" rel="nofollow"> Twitter</a></li>
        <li class="youtube"><a href="http://www.youtube.com" rel="nofollow"> YouTube</a></li>
        <li class="google"><a rel="publisher" href="https://plus.google.com/105108679568268121500/posts" rel="nofollow"> Google+</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com" rel="nofollow">LinkedIn</a></li>
        </ul>
      </div>
    
  </div>
</footer>