<% if current_page?(root_path) %>
<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Sealand Trading</h2>
					<p>Sealand Trading can provide you with the materials you need, delivered where you need them, when you need them, backed with full technical support. We have been doing this for over  years and we know how to do it right.</p>
					
					<div class="da-img"><%= image_tag("store/2.png", alt: "image01") %></div>
				</div>
				<div class="da-slide">
					<h2>Sealand Trading</h2>
					<p>At Sealand Trading you'll discover tradesman quality tools used in the installation of drywall, ceilings, stucco, steel framing and insulation. We also offer many specialty tools that your average hardware store would not carry.</p>
					
					<div class="da-img"><%= image_tag("store/3.png", alt: "image01") %></div>
				</div>
				<div class="da-slide">
					<h2>Sealand Trading</h2>
					<p>Sealand Tradingis one of the leading companies which deal in trading the building materials, specially the Deformed Steel Bars, White Wood, Commercial Plywood, Marine Plywood & Joinery Timbers.</p>
					
					
					<div class="da-img"><%= image_tag("store/1.png", alt:"image01") %></div>
				</div>
				<div class="da-slide">
					<h2>Sealand Trading</h2>
					<p>At Sealand Trading, we do whatever it takes to help you get the job done. Our employees have been in the industry for decades and we have the experience to bring value to your projects. Supported by the latest technology, our services can help you save time, reduce materials, and reduce job waste. Ask us how!</p>
					
					<div class="da-img"><%= image_tag("store/4.png", alt:"image01")%></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>

			</div>
<% end %>


		